/* COLORS */
/* font size */
/* font */
/* font */
/* effect */
/* mobile */
/* screen < 768*/
/* home page */
/* line 6, ../../sass/screens/mobile.scss */
#change_skin_menu_wrapper {
  display: none;
}

/* line 10, ../../sass/screens/mobile.scss */
.views-view-grid.cols-4 .views-col {
  width: 50%;
}

/* product list */
/* line 17, ../../sass/screens/mobile.scss */
.products-grid .grid {
  margin-bottom: 30px;
  text-align: center;
}
/* line 21, ../../sass/screens/mobile.scss */
.products-grid .grid-inner {
  min-height: 400px;
}
/* line 25, ../../sass/screens/mobile.scss */
.products-grid .views-field-field-review .fivestar-widget-static {
  display: inline-block;
}

/* panel-footer */
/* line 33, ../../sass/screens/mobile.scss */
#panel-footer .panel-column {
  margin-bottom: 30px;
}
/* line 35, ../../sass/screens/mobile.scss */
#panel-footer .panel-column:last-child {
  margin-bottom: 0;
}
/* line 40, ../../sass/screens/mobile.scss */
#panel-footer .block-simplenews form {
  width: 50%;
}
/* line 44, ../../sass/screens/mobile.scss */
#panel-footer .download-apps {
  width: 40%;
}

/* footer */
/* line 51, ../../sass/screens/mobile.scss */
#footer .copyright, #footer .contact-message {
  float: none;
  text-align: center;
}
/* line 55, ../../sass/screens/mobile.scss */
#footer .copyright {
  margin-bottom: 5px;
}

/* end footer */
/* sidebar */
/* line 63, ../../sass/screens/mobile.scss */
.sidebar {
  /* effortless-shopping */
  /* end effortless-shopping */
}
/* line 65, ../../sass/screens/mobile.scss */
.sidebar .advertise-list .view-content {
  margin-right: -15px;
  margin-left: -15px;
}
/* line 76, ../../sass/includes/_include.scss */
.sidebar .advertise-list .view-content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/* line 70, ../../sass/screens/mobile.scss */
.sidebar .advertise-list .views-row {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 77, ../../sass/screens/mobile.scss */
.sidebar .advertise-list .views-field-type-image {
  margin-bottom: 0;
}
/* line 79, ../../sass/screens/mobile.scss */
.sidebar .advertise-list .views-field-type-image img {
  width: 100%;
}
/* line 76, ../../sass/includes/_include.scss */
.sidebar .effortless-shopping ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/* line 88, ../../sass/screens/mobile.scss */
.sidebar .effortless-shopping ul li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

/* line 97, ../../sass/screens/mobile.scss */
#sidebar-first {
  margin-bottom: 30px;
}

/* line 100, ../../sass/screens/mobile.scss */
#sidebar-second {
  padding-top: 30px;
}

/* end sidebar */
/* end home page */
/* product details */
/* line 110, ../../sass/screens/mobile.scss */
#main .node .field-type-image, #main .node .commerce-product-field-field-product-image {
  width: auto;
  float: none;
}
/* line 113, ../../sass/screens/mobile.scss */
#main .node .field-type-image:before, #main .node .commerce-product-field-field-product-image:before {
  content: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 118, ../../sass/screens/mobile.scss */
#main .node .field-type-image .cloud-zoom-big, #main .node .commerce-product-field-field-product-image .cloud-zoom-big {
  display: none !important;
}
/* line 122, ../../sass/screens/mobile.scss */
#main .node .group-info {
  width: auto;
  float: none;
}

/* carousel-affiliate */
/* line 131, ../../sass/screens/mobile.scss */
.carousel-affiliate .boxwap {
  font-size: 1.143em;
}
/* line 133, ../../sass/screens/mobile.scss */
.carousel-affiliate .boxwap .register-now {
  margin: 0 0 0 10px;
  font-size: 1.429em;
  padding: 7px 15px;
}

/* end carousel-affiliate */
/* block-affiliate */
/* line 145, ../../sass/screens/mobile.scss */
.block-affiliate .title-note {
  min-height: 0;
}
/* line 148, ../../sass/screens/mobile.scss */
.block-affiliate .field-body {
  text-align: center;
}

/* end block-affiliate */
/* block-sell-on */
/* line 157, ../../sass/screens/mobile.scss */
.block-sell-on iframe {
  width: 100%;
  height: 300px;
}
/* line 161, ../../sass/screens/mobile.scss */
.block-sell-on .block-sell-on-works .field-image {
  margin-top: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* end block-sell-on */
/* contact-us */
/* line 173, ../../sass/screens/mobile.scss */
.contact-us .webform-client-form {
  width: 100%;
  padding-right: 0;
}
/* line 177, ../../sass/screens/mobile.scss */
.contact-us .form-text, .contact-us .form-textarea, .contact-us .chosen-container {
  max-width: 345px;
}
/* line 180, ../../sass/screens/mobile.scss */
.contact-us .field-name-field-map {
  margin-top: 15px;
  padding-left: 0;
  width: 100%;
}
/* line 184, ../../sass/screens/mobile.scss */
.contact-us .field-name-field-map iframe {
  height: 300px;
}

/* end contact-us */
/* shopping cart */
/* line 197, ../../sass/screens/mobile.scss */
.shopping-cart table tbody .views-field-edit-quantity .form-text {
  width: 30px;
  height: 30px;
  padding: 5px;
}
/* line 203, ../../sass/screens/mobile.scss */
.shopping-cart table tbody .btn {
  padding: 0;
  width: 15px;
  height: 30px;
}
/* line 207, ../../sass/screens/mobile.scss */
.shopping-cart table tbody .btn:before {
  line-height: 27px;
}

/* check out */
/* line 218, ../../sass/screens/mobile.scss */
#edit-customer-profile-shipping,
#edit-customer-profile-billing {
  padding: 0;
  float: none;
  width: auto;
}
/* line 222, ../../sass/screens/mobile.scss */
#edit-customer-profile-shipping:before,
#edit-customer-profile-billing:before {
  position: static;
  content: none;
}

/* line 228, ../../sass/screens/mobile.scss */
#edit-customer-profile-shipping {
  margin-bottom: 30px;
}

/* line 234, ../../sass/screens/mobile.scss */
.carousel-affiliate .boxwap p {
  margin-top: 0;
}

/* line 242, ../../sass/screens/mobile.scss */
.contact-info-block .row .col-sm-6 {
  margin-bottom: 30px;
}
/* line 244, ../../sass/screens/mobile.scss */
.contact-info-block .row .col-sm-6:last-child {
  margin-bottom: 0;
}

@media (max-width: 640px) {
  /* header */
  /* logo */
  /* line 254, ../../sass/screens/mobile.scss */
  #logo {
    width: 140px;
    display: inline-block;
    padding-top: 0;
  }

  /* line 260, ../../sass/screens/mobile.scss */
  #header .region-header {
    width: auto;
    float: right;
  }
  /* line 264, ../../sass/screens/mobile.scss */
  #header .container {
    min-height: 145px;
  }

  /* line 268, ../../sass/screens/mobile.scss */
  .block-commerce-cart {
    padding-top: 0;
  }

  /* line 271, ../../sass/screens/mobile.scss */
  .block-menu-descriptions {
    padding-top: 0;
  }

  /* line 274, ../../sass/screens/mobile.scss */
  .off-canvas-toggle {
    top: 15px;
  }

  /** view account block  */
  /* line 279, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content {
    right: -60px;
    top: 40px;
  }
  /* line 282, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content:before, .block-menu-descriptions .content:after {
    right: 53px;
  }

  /* end header */
  /* product featured */
  /* line 292, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-item {
    width: 190px !important;
  }

  /* end product featured */
  /* user */
  /* line 300, ../../sass/screens/mobile.scss */
  #user-profile-form label {
    display: block;
    min-width: inherit;
  }
  /* line 304, ../../sass/screens/mobile.scss */
  #user-profile-form .password-strength, #user-profile-form .password-confirm {
    float: none;
    margin-bottom: 15px;
  }
  /* line 308, ../../sass/screens/mobile.scss */
  #user-profile-form .confirm-parent, #user-profile-form .password-parent {
    width: auto;
  }
  /* line 311, ../../sass/screens/mobile.scss */
  #user-profile-form .form-select, #user-profile-form .form-text {
    width: 100%;
  }
  /* line 315, ../../sass/screens/mobile.scss */
  #user-profile-form #edit-picture label {
    display: inline-block;
  }
  /* line 318, ../../sass/screens/mobile.scss */
  #user-profile-form #edit-picture .user-picture {
    float: none;
    margin-right: 0;
  }
  /* line 322, ../../sass/screens/mobile.scss */
  #user-profile-form #edit-picture .description {
    margin-left: 0;
  }

  /* use */
  /* block-about */
  /* line 330, ../../sass/screens/mobile.scss */
  .block-about .field-image {
    margin-left: 0;
    float: none;
  }
  /* line 334, ../../sass/screens/mobile.scss */
  .block-about .field-body {
    overflow: visible;
  }

  /* end block-about */
  /* carousel-affiliate */
  /* line 341, ../../sass/screens/mobile.scss */
  .carousel-affiliate .boxwap {
    padding: 10px;
    font-size: 1em;
  }
  /* line 344, ../../sass/screens/mobile.scss */
  .carousel-affiliate .boxwap .register-now {
    margin: 0 0 0 10px;
    font-size: 1.286em;
    padding: 5px 10px;
  }

  /* end carousel-affiliate */
  /* recommend */
  /* line 356, ../../sass/screens/mobile.scss */
  .products-recommend .jcarousel-container .jcarousel-item {
    width: 190px !important;
  }

  /* end recommend */
  /* panel footer */
  /* line 365, ../../sass/screens/mobile.scss */
  #panel-footer .download-apps {
    width: 280px;
  }

  /* end panel footer */
  /* page affiliate program */
  /* line 374, ../../sass/screens/mobile.scss */
  .carousel-affiliate .boxwap .register-now {
    margin-top: 5px;
  }

  /* page sell marketplace */
  /* line 383, ../../sass/screens/mobile.scss */
  .block-sell-on .block-sell-on-works .field-image {
    margin-top: 30px;
  }

  /* view product list */
  /* check out  */
  /* line 403, ../../sass/screens/mobile.scss */
  #edit-account .form-text {
    width: 70%;
  }
}
@media (max-width: 480px) {
  /* line 412, ../../sass/screens/mobile.scss */
  .headline .block-right {
    float: none;
  }
  /* line 415, ../../sass/screens/mobile.scss */
  .headline .block-view-orders {
    float: right;
  }

  /* header */
  /* logo */
  /* line 422, ../../sass/screens/mobile.scss */
  #logo {
    width: 140px;
    float: none;
    margin-bottom: 15px;
  }

  /* line 428, ../../sass/screens/mobile.scss */
  .not-logged-in #logo {
    width: 135px;
  }
  /* line 432, ../../sass/screens/mobile.scss */
  .not-logged-in #header .region-header {
    float: right;
  }
  /* line 435, ../../sass/screens/mobile.scss */
  .not-logged-in #header .container {
    min-height: 110px;
  }
  /* line 439, ../../sass/screens/mobile.scss */
  .not-logged-in .off-canvas-toggle {
    top: 15px;
  }

  /* line 444, ../../sass/screens/mobile.scss */
  #header .region-header {
    float: none;
  }
  /* line 447, ../../sass/screens/mobile.scss */
  #header .container {
    min-height: 150px;
  }

  /* line 452, ../../sass/screens/mobile.scss */
  .off-canvas-toggle {
    top: 50px;
  }

  /* line 456, ../../sass/screens/mobile.scss */
  .block-view-search-brand {
    display: none;
  }

  /* line 462, ../../sass/screens/mobile.scss */
  .search-block {
    bottom: 15px;
  }

  /* headline */
  /* line 466, ../../sass/screens/mobile.scss */
  .welcome-block {
    display: none;
  }

  /* end headline */
  /** view account block  */
  /* line 473, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content {
    right: -40px;
    width: 340px;
    top: 40px;
  }
  /* line 477, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content:before, .block-menu-descriptions .content:after {
    right: 80px;
  }

  /* line 484, ../../sass/screens/mobile.scss */
  .block-commerce-cart .cart-content {
    top: 40px;
  }

  /* end header */
  /* product featured */
  /* line 494, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-item {
    width: 215px !important;
  }

  /* end product featured */
  /* line 503, ../../sass/screens/mobile.scss */
  #panel-footer .block-simplenews form {
    width: 300px;
  }

  /* sidebar */
  /* line 511, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list {
    text-align: center;
  }
  /* line 513, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list .view-content {
    margin-left: -10px;
    margin-right: -10px;
  }
  /* line 517, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list .views-row {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  /* line 525, ../../sass/screens/mobile.scss */
  .sidebar .effortless-shopping ul li {
    width: auto;
    float: none;
  }

  /* sidebar */
  /* line 536, ../../sass/screens/mobile.scss */
  
  m {
    width: 205px !important;
  }

  /* product details */
  /* line 546, ../../sass/screens/mobile.scss */
  #main .node .product-info-tabs a {
    padding: 5px 10px;
    font-size: 1em;
  }
  /* line 551, ../../sass/screens/mobile.scss */
  #main .node .group-more-info {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 554, ../../sass/screens/mobile.scss */
  #main .node .group-more-info:after {
    width: 93%;
  }

  /* end product details */
  /* comment */
  /* line 562, ../../sass/screens/mobile.scss */
  .comment {
    padding: 10px;
  }
  /* line 564, ../../sass/screens/mobile.scss */
  .comment .user-picture {
    position: static;
    margin: 0 auto 15px;
  }

  /* line 570, ../../sass/screens/mobile.scss */
  .comment-preview .user-picture {
    margin-right: 10px;
  }

  /* end comment */
  /* carousel-affiliate */
  /* line 577, ../../sass/screens/mobile.scss */
  .carousel-affiliate .boxwap {
    top: 0;
    transform: none;
    position: static;
    margin-top: 15px;
    text-align: center;
    padding: 20px;
  }
  /* line 584, ../../sass/screens/mobile.scss */
  .carousel-affiliate .boxwap .register-now {
    float: none;
    margin: 0 0 10px;
    padding: 10px 15px;
  }

  /* end carousel-affiliate */
  /* block-sell-on */
  /* line 593, ../../sass/screens/mobile.scss */
  .block-sell-on iframe {
    height: 250px;
  }
  /* line 596, ../../sass/screens/mobile.scss */
  .block-sell-on .block-sell-on-works .media {
    margin-top: 15px;
  }

  /* end block-sell-on */
  /* contact-us */
  /* line 602, ../../sass/screens/mobile.scss */
  .contact-us .form-actions .webform-submit {
    margin-left: 0;
  }

  /* end contact-us */
  /* tabs primary */
  /* line 607, ../../sass/screens/mobile.scss */
  .tabs.primary {
    white-space: normal;
  }
  /* line 609, ../../sass/screens/mobile.scss */
  .tabs.primary li {
    margin-bottom: 10px;
    display: block;
  }
  /* line 612, ../../sass/screens/mobile.scss */
  .tabs.primary li a {
    display: block;
    text-align: center;
  }

  /* end tabs primary */
  /* view product list */
  /* line 622, ../../sass/screens/mobile.scss */
  .products-list .products-display-list {
    text-align: center;
  }
  /* line 624, ../../sass/screens/mobile.scss */
  .products-list .products-display-list .views-field-type-image {
    width: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 630, ../../sass/screens/mobile.scss */
  .products-list .products-display-list .fieldset, .products-list .products-display-list .prices {
    float: none;
    width: auto;
  }
  /* line 635, ../../sass/screens/mobile.scss */
  .products-list .products-display-list .views-field-field-review .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 639, ../../sass/screens/mobile.scss */
  .products-list .products-display-list .views-field-field-review .star {
    float: none;
    display: inline-block;
  }

  /* shopping cart */
  /* line 651, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody .btn {
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0;
  }
  /* line 656, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody .btn:before {
    line-height: 20px;
  }
  /* line 660, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody .decrease {
    bottom: 0;
    border-top: none;
    border-right: 1px solid gainsboro;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
  }
  /* line 666, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody .increase {
    top: 0;
    border-bottom: none;
    border-left: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
  }
  /* line 672, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody td {
    padding: 12px;
  }
  /* line 678, ../../sass/screens/mobile.scss */
  .shopping-cart .views-field-edit-quantity .form-item {
    position: relative;
    min-height: 70px;
  }
  /* line 682, ../../sass/screens/mobile.scss */
  .shopping-cart .views-field-edit-quantity .form-text {
    margin-top: 20px;
    width: auto;
    min-width: 50px;
  }

  /* check out  */
  /* line 692, ../../sass/screens/mobile.scss */
  #edit-account .form-text {
    width: 100%;
  }

  /* line 699, ../../sass/screens/mobile.scss */
  #edit-customer-profile-shipping .form-item,
  #edit-customer-profile-billing .form-item {
    margin-right: 0;
    width: 100%;
  }
  /* line 706, ../../sass/screens/mobile.scss */
  #edit-customer-profile-shipping .name-block .form-text,
  #edit-customer-profile-shipping .street-block .form-text,
  #edit-customer-profile-shipping .locality-block .form-text,
  #edit-customer-profile-billing .name-block .form-text,
  #edit-customer-profile-billing .street-block .form-text,
  #edit-customer-profile-billing .locality-block .form-text {
    width: 100%;
    min-width: initial;
  }
  /* line 711, ../../sass/screens/mobile.scss */
  #edit-customer-profile-shipping .chosen-container,
  #edit-customer-profile-billing .chosen-container {
    width: 100% !important;
    min-width: initial;
  }

  /* page contact us */
  /* line 720, ../../sass/screens/mobile.scss */
  .contact-us .webform-client-form .form-text, .contact-us .webform-client-form .form-textarea {
    max-width: initial;
  }
  /* line 723, ../../sass/screens/mobile.scss */
  .contact-us .webform-client-form .chosen-container {
    max-width: initial;
  }

  /* STORE FOR SALES */
  /* line 732, ../../sass/screens/mobile.scss */
  .view-store-sales table th, .view-store-sales table td {
    padding: 5px;
  }

  /* user login page */
  /* line 742, ../../sass/screens/mobile.scss */
  #user-login .description,
  #user-register-form .description,
  #user-pass .description {
    margin-left: 0;
  }
  /* line 745, ../../sass/screens/mobile.scss */
  #user-login .form-actions,
  #user-register-form .form-actions,
  #user-pass .form-actions {
    padding-left: 0;
  }

  /* search-form */
  /* line 753, ../../sass/screens/mobile.scss */
  #search-form #edit-basic label {
    margin-bottom: 5px;
  }
  /* line 756, ../../sass/screens/mobile.scss */
  #search-form #edit-basic .form-item {
    margin-bottom: 10px;
  }

  /* secondary */
  /* line 764, ../../sass/screens/mobile.scss */
  .tabs.secondary li {
    margin-bottom: 10px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }
}
@media (max-width: 360px) {
  /* line 775, ../../sass/screens/mobile.scss */
  .form-select {
    width: 100%;
  }

  /* line 779, ../../sass/screens/mobile.scss */
  .views-view-grid.cols-4 .views-col {
    width: 100%;
    float: none;
  }

  /* line 786, ../../sass/screens/mobile.scss */
  .block-view-orders .content {
    right: -90px;
    width: 250px;
  }
  /* line 789, ../../sass/screens/mobile.scss */
  .block-view-orders .content:before, .block-view-orders .content:after {
    right: 100px;
  }

  /* header */
  /* cart  */
  /* line 798, ../../sass/screens/mobile.scss */
  .block-commerce-cart .cart-content {
    right: -27px;
  }
  /* line 800, ../../sass/screens/mobile.scss */
  .block-commerce-cart .cart-content:before, .block-commerce-cart .cart-content:after {
    right: 45px;
  }

  /* end cart */
  /* view account */
  /* line 808, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content {
    right: -150px;
    width: 330px;
  }
  /* line 811, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content:before, .block-menu-descriptions .content:after {
    right: 190px;
  }

  /* end view account */
  /* end header */
  /* product featured */
  /* line 820, ../../sass/screens/mobile.scss */
  .products-featured {
    padding-top: 30px;
  }
  /* line 823, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-item {
    width: 330px !important;
    text-align: center;
  }
  /* line 827, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-prev {
    right: auto;
    left: 0;
    top: -45px;
  }
  /* line 832, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-next {
    right: auto;
    left: 30px;
    top: -45px;
  }

  /* end product featured */
  /** sidebar right */
  /* line 844, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list .views-row {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }
  /* line 848, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list .views-row:last-child {
    margin-bottom: 0;
  }
  /* line 852, ../../sass/screens/mobile.scss */
  .sidebar .advertise-list img {
    margin: 0 auto;
  }

  /* end sidebar right */
  /* recommend */
  /* line 860, ../../sass/screens/mobile.scss */
  .products-recommend {
    padding-top: 20px;
  }
  /* line 863, ../../sass/screens/mobile.scss */
  .products-recommend .jcarousel-container .jcarousel-item {
    width: 310px !important;
    text-align: center;
  }
  /* line 867, ../../sass/screens/mobile.scss */
  .products-recommend .jcarousel-container .jcarousel-prev {
    right: auto;
    left: 0;
    top: -40px;
  }
  /* line 872, ../../sass/screens/mobile.scss */
  .products-recommend .jcarousel-container .jcarousel-next {
    right: auto;
    left: 30px;
    top: -40px;
  }

  /* end recommend */
  /* panel footer */
  /* line 882, ../../sass/screens/mobile.scss */
  #panel-footer {
    /* .download-apps */
  }
  /* line 884, ../../sass/screens/mobile.scss */
  #panel-footer .block-simplenews form {
    width: auto;
  }
  /* line 889, ../../sass/screens/mobile.scss */
  #panel-footer .download-apps {
    width: auto;
  }

  /* end panel footer */
  /* product details */
  /* line 898, ../../sass/screens/mobile.scss */
  #main .node .product-info-tabs a {
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
  }
  /* line 906, ../../sass/screens/mobile.scss */
  #main .node .field-name-field-product .form-item-quantity {
    float: none;
    margin-bottom: 15px;
  }
  /* line 910, ../../sass/screens/mobile.scss */
  #main .node .field-name-field-product .form-submit {
    float: none;
  }

  /* line 918, ../../sass/screens/mobile.scss */
  .comment-form .form-item-subject input {
    max-width: inherit;
    width: 100%;
  }

  /* end product details */
  /* commerce cart */
  /* line 926, ../../sass/screens/mobile.scss */
  .commerce-add-to-cart {
    text-align: left;
  }
  /* line 928, ../../sass/screens/mobile.scss */
  .commerce-add-to-cart .form-item-quantity {
    float: none;
  }
  /* line 931, ../../sass/screens/mobile.scss */
  .commerce-add-to-cart .form-submit {
    float: none;
  }

  /* end commerce cart */
  /* shopping cart */
  /* line 941, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody td {
    padding: 10px;
  }
  /* line 946, ../../sass/screens/mobile.scss */
  .shopping-cart .continue-shopping {
    float: none;
    margin-bottom: 15px;
  }
  /* line 950, ../../sass/screens/mobile.scss */
  .shopping-cart .form-actions {
    float: none;
    text-align: left;
  }
  /* line 953, ../../sass/screens/mobile.scss */
  .shopping-cart .form-actions .form-submit {
    margin-left: 0;
    margin-right: 15px;
  }
  /* line 956, ../../sass/screens/mobile.scss */
  .shopping-cart .form-actions .form-submit:last-child {
    margin-right: 0;
  }

  /* check out */
  /* line 965, ../../sass/screens/mobile.scss */
  .checkout-buttons .form-submit {
    padding: 10px 15px;
  }

  /* line 972, ../../sass/screens/mobile.scss */
  #edit-checkout-review table.checkout-review td, #edit-checkout-review table.checkout-review th {
    padding: 8px;
  }

  /* page sell marketplace */
  /* line 981, ../../sass/screens/mobile.scss */
  .block-sell-on .block-sell-on-works .field-image {
    width: 70%;
  }

  /* line 989, ../../sass/screens/mobile.scss */
  .products-grid .view-header,
  .products-list .view-header {
    display: none;
  }

  /* search-form */
  /* line 997, ../../sass/screens/mobile.scss */
  #search-form #edit-advanced .criterion {
    margin-right: 0;
  }
  /* line 1000, ../../sass/screens/mobile.scss */
  #search-form #edit-advanced .form-item {
    margin-right: 0;
  }
  /* line 1003, ../../sass/screens/mobile.scss */
  #search-form #edit-advanced .form-text {
    width: 100%;
  }
}
@media (max-width: 320px) {
  /* line 1012, ../../sass/screens/mobile.scss */
  .block-view-orders .content {
    right: -100px;
  }
  /* line 1014, ../../sass/screens/mobile.scss */
  .block-view-orders .content:before, .block-view-orders .content:after {
    right: 110px;
  }

  /* header */
  /* account */
  /* line 1022, ../../sass/screens/mobile.scss */
  .block-menu-descriptions .content {
    width: 290px;
  }

  /* cart */
  /* line 1029, ../../sass/screens/mobile.scss */
  .block-commerce-cart .cart-content {
    right: -40px;
    width: 290px;
  }

  /* end header */
  /* product featured */
  /* line 1038, ../../sass/screens/mobile.scss */
  .products-featured .jcarousel-container .jcarousel-item {
    width: 290px !important;
  }

  /* end product featured */
  /* recommend */
  /* line 1046, ../../sass/screens/mobile.scss */
  .products-recommend {
    padding-top: 20px;
  }
  /* line 1049, ../../sass/screens/mobile.scss */
  .products-recommend .jcarousel-container .jcarousel-item {
    width: 290px !important;
  }

  /* end recommend */
  /* shopping cart */
  /* line 1060, ../../sass/screens/mobile.scss */
  .shopping-cart table tbody td {
    padding: 5px;
  }
  /* line 1066, ../../sass/screens/mobile.scss */
  .shopping-cart .view-footer table {
    width: 100%;
  }
  /* line 1068, ../../sass/screens/mobile.scss */
  .shopping-cart .view-footer table td {
    padding: 5px;
  }

  /* check out */
  /* line 1077, ../../sass/screens/mobile.scss */
  .checkout-buttons .button-operator {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 1081, ../../sass/screens/mobile.scss */
  .checkout-buttons .form-submit {
    padding: 7px 10px;
  }
}
