/* COLORS */
/* font size */
/* font */
/* font */
/* effect */
/* views-table */
/* line 4, ../sass/screen.scss */
.views-table, .sticky-table, .sticky-header, .ief-entity-table {
  width: 100%;
  border: 1px solid gainsboro;
  margin-bottom: 15px;
}
/* line 8, ../sass/screen.scss */
.views-table th, .sticky-table th, .sticky-header th, .ief-entity-table th {
  border-bottom: 1px solid gainsboro;
  padding: 12px 15px;
  background-color: whitesmoke;
  font-weight: 500;
  color: black;
}
/* line 15, ../sass/screen.scss */
.views-table thead, .sticky-table thead, .sticky-header thead, .ief-entity-table thead {
  border-bottom: 1px solid gainsboro;
}
/* line 17, ../sass/screen.scss */
.views-table thead th, .sticky-table thead th, .sticky-header thead th, .ief-entity-table thead th {
  border-bottom: none;
  border-right: 1px solid gainsboro;
}
/* line 20, ../sass/screen.scss */
.views-table thead th:first-child.select-all, .sticky-table thead th:first-child.select-all, .sticky-header thead th:first-child.select-all, .ief-entity-table thead th:first-child.select-all {
  width: 45px;
}
/* line 22, ../sass/screen.scss */
.views-table thead th:first-child.select-all input[type="radio"], .sticky-table thead th:first-child.select-all input[type="radio"], .sticky-header thead th:first-child.select-all input[type="radio"], .ief-entity-table thead th:first-child.select-all input[type="radio"], .views-table thead th:first-child.select-all input[type="checkbox"], .sticky-table thead th:first-child.select-all input[type="checkbox"], .sticky-header thead th:first-child.select-all input[type="checkbox"], .ief-entity-table thead th:first-child.select-all input[type="checkbox"] {
  margin-right: 0;
}
/* line 28, ../sass/screen.scss */
.views-table tbody, .sticky-table tbody, .sticky-header tbody, .ief-entity-table tbody {
  border-top: none;
}
/* line 30, ../sass/screen.scss */
.views-table tbody tr, .sticky-table tbody tr, .sticky-header tbody tr, .ief-entity-table tbody tr {
  border-bottom: 1px solid gainsboro;
  background-color: white;
}
/* line 33, ../sass/screen.scss */
.views-table tbody tr .form-item, .sticky-table tbody tr .form-item, .sticky-header tbody tr .form-item, .ief-entity-table tbody tr .form-item {
  white-space: normal;
}
/* line 36, ../sass/screen.scss */
.views-table tbody tr td, .sticky-table tbody tr td, .sticky-header tbody tr td, .ief-entity-table tbody tr td {
  border-bottom: 0;
  padding: 12px 15px;
  border-right: 1px solid gainsboro;
  color: black;
  font-weight: 500;
  background-color: white;
}
/* line 44, ../sass/screen.scss */
.views-table tbody tr td:first-child .form-checkbox, .sticky-table tbody tr td:first-child .form-checkbox, .sticky-header tbody tr td:first-child .form-checkbox, .ief-entity-table tbody tr td:first-child .form-checkbox {
  margin-right: 0;
}
/* line 51, ../sass/screen.scss */
.views-table .field, .sticky-table .field, .sticky-header .field, .ief-entity-table .field {
  margin-bottom: 0;
}

/* sticky-table */
/* line 59, ../sass/screen.scss */
.sticky-table .checkbox {
  display: table-cell;
}
/* line 61, ../sass/screen.scss */
.sticky-table .checkbox .form-item {
  display: inline-block;
}
/* line 64, ../sass/screen.scss */
.sticky-table .checkbox .form-checkbox {
  margin-left: 0;
}

/* sticky-header */
/* tabs primary */
/* line 76, ../sass/screen.scss */
.tabs.primary {
  margin: 0 0 20px;
  padding: 0;
  border: none;
  white-space: normal;
}
/* line 81, ../sass/screen.scss */
.tabs.primary li {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 3px;
}
/* line 85, ../sass/screen.scss */
.tabs.primary li:last-child {
  margin-right: 0;
}
/* line 88, ../sass/screen.scss */
.tabs.primary li a {
  border: 1px solid gainsboro;
  padding: 10px 20px;
  background-color: white;
  color: black;
  display: inline-block;
  line-height: 1;
  margin-right: 0;
}
/* line 96, ../sass/screen.scss */
.tabs.primary li a:hover, .tabs.primary li a:focus {
  border-bottom: 1px solid gainsboro;
  background-color: whitesmoke;
  color: black;
}
/* line 102, ../sass/screen.scss */
.tabs.primary li.active a {
  border-color: gainsboro;
  background-color: #ff6d00;
  color: white;
}

/* tabs secondary */
/* line 111, ../sass/screen.scss */
.tabs.secondary {
  margin: 0 0 15px;
  padding: 0;
  border-bottom: 0;
}
/* line 116, ../sass/screen.scss */
.tabs.secondary li:first-child {
  padding-left: 0;
}
/* line 119, ../sass/screen.scss */
.tabs.secondary li.active a {
  border-bottom: 0;
}

/* action-links */
/* line 126, ../sass/screen.scss */
.action-links {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
/* line 130, ../sass/screen.scss */
.action-links li a {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  background-color: #0088cc;
  color: white;
  border: 1px solid transparent;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 101, ../sass/includes/_include.scss */
.action-links li a:hover, .action-links li a:focus {
  background-color: #ff6d00;
}

/* confirmation */
/* line 137, ../sass/screen.scss */
.confirmation .form-submit {
  margin-right: 15px;
}

/* edit-operations */
/* line 143, ../sass/screen.scss */
fieldset.collapsible {
  margin-bottom: 20px;
}
/* line 145, ../sass/screen.scss */
fieldset.collapsible .fieldset-legend {
  font-size: 18px;
  padding-left: 20px;
}
/* line 149, ../sass/screen.scss */
fieldset.collapsible .form-item {
  display: inline-block;
  margin-right: 10px;
}
/* line 152, ../sass/screen.scss */
fieldset.collapsible .form-item label {
  margin-right: 15px;
}

/* entity-commerce-store */
/* line 160, ../sass/screen.scss */
.entity-commerce-store .field-label, .entity-commerce-store .field-items {
  display: inline-block;
}

/* commerce-line-item-views-form */
/* line 167, ../sass/screen.scss */
.commerce-line-item-views-form input.delete-line-item {
  padding: 10px 20px;
  font-size: 1em;
}
/* line 171, ../sass/screen.scss */
.commerce-line-item-views-form .views-table, .commerce-line-item-views-form .sticky-table, .commerce-line-item-views-form .sticky-header, .commerce-line-item-views-form .ief-entity-table {
  margin-bottom: 0;
}
/* line 174, ../sass/screen.scss */
.commerce-line-item-views-form .line-item-summary {
  padding: 20px;
  border: 1px solid gainsboro;
  border-top: 0;
  color: black;
  font-size: 1.286em;
  font-weight: 600;
}
/* line 183, ../sass/screen.scss */
.commerce-line-item-views-form .line-item-summary .line-item-total-label {
  font-weight: 600;
}
/* line 186, ../sass/screen.scss */
.commerce-line-item-views-form .line-item-summary .line-item-total-raw {
  color: #ff6d00;
}

/* draggable */
/* line 193, ../sass/screen.scss */
.draggable a.tabledrag-handle, .draggable a.tabledrag-handle .handle {
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
}

/* line 201, ../sass/screen.scss */
a.tabledrag-handle .handle {
  background-position: 0 0;
}
/* line 204, ../sass/screen.scss */
a.tabledrag-handle-hover .handle {
  background-position: 0 -20px;
}

/* node-form */
/* line 212, ../sass/screen.scss */
.node-form .form-item label {
  margin-right: 15px;
  min-width: 44px;
}
/* line 216, ../sass/screen.scss */
.node-form .form-item .form-text {
  max-width: 350px;
}
/* line 220, ../sass/screen.scss */
.node-form .ckeditor_links {
  margin-top: 5px;
  display: inline-block;
}
/* line 224, ../sass/screen.scss */
.node-form input + .description {
  margin: 5px 0 0 62px;
  color: #7a7a7a;
}
/* line 228, ../sass/screen.scss */
.node-form .form-submit {
  margin-right: 10px;
}
/* line 231, ../sass/screen.scss */
.node-form .tabledrag-toggle-weight-wrapper {
  margin-bottom: 5px;
}
/* line 234, ../sass/screen.scss */
.node-form .field-multiple-table {
  margin-bottom: 10px;
}
/* line 236, ../sass/screen.scss */
.node-form .field-multiple-table td.field-multiple-drag {
  padding-right: 15px;
}
/* line 241, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .tabledrag-handle.image-widget {
  margin-left: 10px;
}
/* line 244, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-type-taxonomy-term-reference label {
  min-width: 85px;
}
/* line 247, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-submit {
  background-color: #7a7a7a;
}
/* line 249, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-submit:hover, .node-form .field-group-tabs-wrapper .form-submit:focus {
  background-color: #ff6d00;
}
/* line 253, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper fieldset {
  margin-bottom: 15px;
}
/* line 255, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper fieldset legend {
  font-size: 1.286em;
  border-color: gainsboro;
}
/* line 260, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .container-inline .fieldset-wrapper {
  margin-top: 0;
}
/* line 263, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs {
  margin: 0;
  border: 0;
}
/* line 266, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list {
  margin: 0 0 -1px 0;
  float: none;
  position: static;
  width: 100%;
  border-top: 0;
}
/* line 272, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li {
  background-color: whitesmoke;
  border-color: gainsboro;
  border-left: 0;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  display: inline-block;
}
/* line 279, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li:first-child {
  border-left: 1px solid gainsboro;
}
/* line 282, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li a {
  padding: 15px;
  color: #0088cc;
}
/* line 285, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li a:hover, .node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li a:focus {
  outline: none;
}
/* line 287, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li a:hover strong, .node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li a:focus strong {
  text-decoration: none;
}
/* line 292, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li.selected {
  border-bottom-color: white;
  border-right-width: 1 !important;
  background-color: white;
}
/* line 296, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li.selected a strong {
  color: black;
}
/* line 301, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li:hover a strong, .node-form .field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li:focus a strong {
  color: black;
}
/* line 307, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .vertical-tabs .vertical-tabs-panes {
  border: 1px solid gainsboro;
  padding: 15px 20px;
}
/* line 313, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .ief-product-details .form-item {
  margin: 0 0 20px;
}
/* line 315, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .ief-product-details .form-item label {
  min-width: 95px;
}
/* line 318, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .ief-product-details .form-item input + .description {
  margin-left: 115px;
}
/* line 322, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .ief-product-details .form-type-radio {
  margin-bottom: 0;
}
/* line 326, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper fieldset.vertical-tabs-pane {
  padding: 0;
}
/* line 329, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper fieldset.ief-form > legend {
  font-size: 1.57em;
  border-bottom: 0;
}
/* line 332, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper fieldset.ief-form > legend .fieldset-legend {
  font-weight: 500;
}
/* line 337, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-type-image .tabledrag-handle {
  margin-right: 10px;
}
/* line 340, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-type-image fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 347, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-managed-file label {
  min-width: 90px;
}
/* line 350, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-managed-file .form-item {
  margin-top: 20px;
}
/* line 353, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-managed-file .description {
  margin-left: 110px;
  color: #7a7a7a;
}
/* line 358, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-type-managed-file {
  border: 1px solid gainsboro;
  padding: 15px;
}
/* line 362, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-type-managed-file .image-widget-data input {
  display: inline-block;
}
/* line 367, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-radios {
  display: inline-block;
}
/* line 369, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-radios label {
  vertical-align: middle;
}
/* line 372, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .form-radios .form-item {
  display: inline-block;
}
/* line 377, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-multiple-table th.field-label {
  padding-left: 20px;
}
/* line 380, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-multiple-table .field-type-text .form-item {
  margin-bottom: 10px;
}
/* line 382, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-multiple-table .field-type-text .form-item label {
  min-width: 75px;
}
/* line 386, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper .field-multiple-table .form-submit {
  margin-left: 85px;
}
/* line 391, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .form-submit {
  color: #0088cc;
  background-color: white;
  padding: 0 7px;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/* line 396, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .form-submit:hover, .node-form .field-group-tabs-wrapper table .form-submit:focus {
  color: #ff6d00;
  background-color: white;
}
/* line 401, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .ief-entity-operations {
  min-width: 95px;
}
/* line 403, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .ief-entity-operations .form-submit {
  float: left;
  margin: 0 0 5px 0;
  border-left: 1px solid gainsboro;
}
/* line 407, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .ief-entity-operations .form-submit:first-child {
  border-left: 0;
  padding-left: 0;
}
/* line 411, ../sass/screen.scss */
.node-form .field-group-tabs-wrapper table .ief-entity-operations .form-submit:last-child {
  padding-right: 0;
}

/* eck-entity-form-add-commerce-store-store */
/* line 422, ../sass/screen.scss */
#eck-entity-form-add-commerce-store-store .form-item {
  display: inline-block;
}
/* line 424, ../sass/screen.scss */
#eck-entity-form-add-commerce-store-store .form-item label {
  margin-right: 15px;
  min-width: 40px;
}
/* line 428, ../sass/screen.scss */
#eck-entity-form-add-commerce-store-store .form-item .form-text {
  max-width: 350px;
}
/* line 432, ../sass/screen.scss */
#eck-entity-form-add-commerce-store-store .form-submit {
  margin-left: 15px;
}

/* Page About us */
/* line 438, ../sass/screen.scss */
.block-about {
  margin-top: 40px;
}
/* line 440, ../sass/screen.scss */
.block-about h2 {
  font-size: 1.286em;
  font-weight: 700;
  border-bottom: 0 !important;
  margin-bottom: 5px;
}
/* line 446, ../sass/screen.scss */
.block-about .field-body {
  overflow: hidden;
  margin-bottom: 0;
}
/* line 450, ../sass/screen.scss */
.block-about .field-image {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  float: right;
  margin-bottom: 5px;
}

/* carousel-affiliate */
/* line 460, ../sass/screen.scss */
.carousel-affiliate {
  position: relative;
}
/* line 462, ../sass/screen.scss */
.carousel-affiliate .boxwap {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  padding: 10px 20px;
  background-color: #69b7e3;
  color: white;
  font-weight: 600;
  vertical-align: middle;
}
/* line 473, ../sass/screen.scss */
.carousel-affiliate .boxwap p {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0;
}
/* line 478, ../sass/screen.scss */
.carousel-affiliate .boxwap .register-now {
  display: inline-block;
  float: right;
  margin-left: 10px;
  font-size: 22px;
  color: white;
  padding: 10px 20px;
  background-color: rgba(255, 109, 0, 0.7);
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 1.1;
}
/* line 489, ../sass/screen.scss */
.carousel-affiliate .boxwap .register-now:hover, .carousel-affiliate .boxwap .register-now:focus {
  background-color: #ff6d00;
}

/* line 497, ../sass/screen.scss */
.node-type-page .content > .node > .content > .field-name-body h3 {
  font-size: 1.143em;
  font-weight: 700;
  color: black;
}
/* line 502, ../sass/screen.scss */
.node-type-page .content > .node > .content > .field-name-body ul li, .node-type-page .content > .node > .content > .field-name-body ol li {
  margin-bottom: 5px;
}

/* block-affiliate */
/* line 508, ../sass/screen.scss */
.block-affiliate {
  text-align: center;
}
/* line 510, ../sass/screen.scss */
.block-affiliate .col-sm-4 {
  margin-top: 50px;
}
/* line 513, ../sass/screen.scss */
.block-affiliate .fa {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #0088cc;
  width: 70px;
  height: 70px;
}
/* line 519, ../sass/screen.scss */
.block-affiliate .fa:before {
  line-height: 73px;
  text-indent: 0;
  font-size: 36px;
  color: white;
}
/* line 525, ../sass/screen.scss */
.block-affiliate .fa span {
  display: none;
}
/* line 529, ../sass/screen.scss */
.block-affiliate h3 {
  font-size: 1.714em !important;
  color: #ff6d00 !important;
  font-weight: 500 !important;
  margin: 5px 0 5px;
}
/* line 535, ../sass/screen.scss */
.block-affiliate .title-note {
  font-size: 0.929em;
  margin-bottom: 15px;
  min-height: 40px;
}
/* line 540, ../sass/screen.scss */
.block-affiliate .field-body {
  text-align: left;
}
/* line 542, ../sass/screen.scss */
.block-affiliate .field-body ul {
  padding-left: 0;
  list-style: none;
}
/* line 546, ../sass/screen.scss */
.block-affiliate .field-body ul li a:before {
  content: "\f101";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* block-payment */
/* line 559, ../sass/screen.scss */
.block-payment ul li, .block-payment ol li {
  margin-bottom: 10px;
  padding-left: 10px;
}
/* line 563, ../sass/screen.scss */
.block-payment hr {
  border-color: gainsboro;
  margin: 30px 0 0;
}
/* line 567, ../sass/screen.scss */
.block-payment .field-body-topic {
  margin-top: 15px;
}
/* line 570, ../sass/screen.scss */
.block-payment .field-choose-topic {
  border-left: 1px solid gainsboro;
}
/* line 572, ../sass/screen.scss */
.block-payment .field-choose-topic ul, .block-payment .field-choose-topic ol {
  padding-left: 15px;
  margin-bottom: 0;
}
/* line 576, ../sass/screen.scss */
.block-payment .field-choose-topic .title {
  margin-bottom: 10px;
}
/* line 580, ../sass/screen.scss */
.block-payment .block-content-topic {
  padding-top: 30px;
}
/* line 582, ../sass/screen.scss */
.block-payment .block-content-topic h4 {
  font-size: 1.286em;
  font-weight: 600;
  color: black;
}
/* line 587, ../sass/screen.scss */
.block-payment .block-content-topic .title {
  color: black;
  margin-bottom: 20px;
  font-weight: 600;
}

/* block-sell-on */
/* line 597, ../sass/screen.scss */
.block-sell-on ul, .block-sell-on ol {
  margin-bottom: 20px;
  padding-left: 15px;
}
/* line 600, ../sass/screen.scss */
.block-sell-on ul li, .block-sell-on ol li {
  margin-bottom: 10px;
}
/* line 604, ../sass/screen.scss */
.block-sell-on .note {
  margin-top: 15px;
  line-height: 1.9;
  font-style: italic;
  font-size: 0.857em;
}
/* line 610, ../sass/screen.scss */
.block-sell-on .block-sell-on-works {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid gainsboro;
}
/* line 614, ../sass/screen.scss */
.block-sell-on .block-sell-on-works h2 {
  border-bottom: none !important;
}
/* line 617, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media {
  margin-top: 25px;
}
/* line 619, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media .pull-left {
  margin-right: 25px;
  text-align: center;
  min-width: 52px;
}
/* line 625, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media .fa:before {
  font-size: 48px;
}
/* line 628, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media .fa span {
  display: none;
}
/* line 632, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media .media-body {
  padding: 0;
  margin-top: 10px;
}
/* line 635, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .media .media-body .media-heading {
  font-size: 1.286em;
  color: #0088cc;
}
/* line 641, ../sass/screen.scss */
.block-sell-on .block-sell-on-works .field-image {
  text-align: center;
}

/* chosen-container */
/* line 648, ../sass/screen.scss */
.chosen-container {
  opacity: 1;
  display: inline-block;
  width: 100%;
}
/* line 652, ../sass/screen.scss */
.chosen-container .chosen-single {
  display: inline-block;
  width: 100%;
  background: none !important;
  color: #7a7a7a;
  border: none !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  height: auto;
  line-height: 1;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: inherit;
  padding: 4px 0 0 0;
  float: none;
}
/* line 666, ../sass/screen.scss */
.chosen-container .chosen-single span {
  overflow: inherit;
}
/* line 669, ../sass/screen.scss */
.chosen-container .chosen-single div {
  right: -10px;
}
/* line 673, ../sass/screen.scss */
.chosen-container .chosen-drop {
  width: 100%;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  margin-top: 1px;
  margin-left: -1px;
  border-color: gainsboro;
  box-shadow: none;
  -webkit-box-shadow: none;
  box-sizing: content-box;
}
/* line 684, ../sass/screen.scss */
.chosen-container .chosen-search {
  display: inline-block;
  width: 100%;
}
/* line 688, ../sass/screen.scss */
.chosen-container .chosen-results {
  margin-top: 3px;
}
/* line 690, ../sass/screen.scss */
.chosen-container .chosen-results .highlighted {
  background: #0088cc;
}
/* line 693, ../sass/screen.scss */
.chosen-container .chosen-results li.highlighted {
  background: #0088cc;
}

/* contact-us */
/* line 701, ../sass/screen.scss */
.contact-us .field-name-body {
  margin-bottom: 30px;
}
/* line 704, ../sass/screen.scss */
.contact-us h2 {
  font-size: 1.143em;
  color: #333;
}
/* line 708, ../sass/screen.scss */
.contact-us .webform-client-form {
  width: 50%;
  float: left;
  padding-right: 15px;
}
/* line 712, ../sass/screen.scss */
.contact-us .webform-client-form .form-item:first-child {
  margin-top: 0;
}
/* line 715, ../sass/screen.scss */
.contact-us .webform-client-form label {
  min-width: 180px;
  display: inline-block;
  margin-right: 10px;
}
/* line 720, ../sass/screen.scss */
.contact-us .webform-client-form .form-text, .contact-us .webform-client-form .form-textarea {
  max-width: 355px;
  width: 100%;
}
/* line 724, ../sass/screen.scss */
.contact-us .webform-client-form .webform-component-textarea label {
  vertical-align: top;
  margin-top: 10px;
}
/* line 728, ../sass/screen.scss */
.contact-us .webform-client-form .form-textarea-wrapper {
  display: inline-block;
}
/* line 731, ../sass/screen.scss */
.contact-us .webform-client-form .chosen-container {
  display: inline-block;
  max-width: 355px;
  width: 100% !important;
  filter: none;
}
/* line 736, ../sass/screen.scss */
.contact-us .webform-client-form .chosen-container .chosen-single {
  text-align: left;
  filter: none;
}
/* line 742, ../sass/screen.scss */
.contact-us .field-name-field-map {
  width: 50%;
  float: left;
  padding-left: 15px;
}
/* line 747, ../sass/screen.scss */
.contact-us .form-actions .webform-submit {
  margin-left: 194px;
}

/* block-help-topics */
/* line 753, ../sass/screen.scss */
.block-help-topics {
  border: 1px solid gainsboro;
}
/* line 755, ../sass/screen.scss */
.block-help-topics h2 {
  padding: 10px 15px;
  margin-bottom: 0;
}
/* line 759, ../sass/screen.scss */
.block-help-topics ul.menu {
  font-size: 0.929em;
  padding: 20px 20px;
  margin-bottom: 0;
}
/* line 763, ../sass/screen.scss */
.block-help-topics ul.menu li {
  list-style: none;
  margin-bottom: 10px;
}
/* line 766, ../sass/screen.scss */
.block-help-topics ul.menu li:last-child {
  margin-bottom: 0;
}
/* line 769, ../sass/screen.scss */
.block-help-topics ul.menu li a {
  color: black;
}
/* line 771, ../sass/screen.scss */
.block-help-topics ul.menu li a:hover, .block-help-topics ul.menu li a:focus {
  color: #ff6d00;
}

/* block-search-help */
/* line 780, ../sass/screen.scss */
.block-search-help {
  padding: 37px 12px;
  margin-top: 20px;
  background-color: whitesmoke;
  width: 100%;
  float: none;
  position: static;
}
/* line 787, ../sass/screen.scss */
.block-search-help .content {
  position: relative;
}
/* line 790, ../sass/screen.scss */
.block-search-help .form-text {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
/* line 797, ../sass/screen.scss */
.block-search-help .form-submit {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

/* block-view-search-brand */
/* line 805, ../sass/screen.scss */
.block-view-search-brand {
  clear: both;
  padding-top: 5px;
}
/* line 76, ../sass/includes/_include.scss */
.block-view-search-brand:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/* line 809, ../sass/screen.scss */
.block-view-search-brand h2 {
  font-size: 0.929em;
  color: #7a7a7a;
  margin-bottom: 0;
  float: left;
}
/* line 815, ../sass/screen.scss */
.block-view-search-brand .content {
  float: left;
}
/* line 818, ../sass/screen.scss */
.block-view-search-brand .item-list ul {
  list-style: none;
  margin: 0;
}
/* line 76, ../sass/includes/_include.scss */
.block-view-search-brand .item-list ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/* line 822, ../sass/screen.scss */
.block-view-search-brand .item-list ul li {
  margin: 0 0 0 10px;
  float: left;
}
/* line 825, ../sass/screen.scss */
.block-view-search-brand .item-list ul li .views-field {
  margin-bottom: 0;
}
/* line 828, ../sass/screen.scss */
.block-view-search-brand .item-list ul li a {
  color: #7a7a7a;
  font-size: 0.929em;
  font-style: italic;
}
/* line 832, ../sass/screen.scss */
.block-view-search-brand .item-list ul li a:hover, .block-view-search-brand .item-list ul li a:focus {
  color: #ff6d00;
}

/* node-product */
/* line 843, ../sass/screen.scss */
.node-product .field-slideshow-wrapper .field-slideshow-slide {
  width: 100% !important;
  text-align: center;
}
/* line 847, ../sass/screen.scss */
.node-product .field-slideshow-wrapper .field-slideshow-pager {
  text-align: center;
  margin-bottom: 0;
}
/* line 850, ../sass/screen.scss */
.node-product .field-slideshow-wrapper .field-slideshow-pager li {
  float: none;
  display: inline-block;
  margin: 0 5px;
}
/* line 854, ../sass/screen.scss */
.node-product .field-slideshow-wrapper .field-slideshow-pager li img {
  width: 80px;
}
