/* COLORS */
/* font size */
/* font */
/* font */
/* effect */
/* line 11, ../../../sass/colors/cyan/style.scss */
a {
  color: #21a9c2;
}
/* line 13, ../../../sass/colors/cyan/style.scss */
a:hover, a:focus {
  color: black;
}

/* line 18, ../../../sass/colors/cyan/style.scss */
.form-submit {
  background-color: #21a9c2;
}
/* line 20, ../../../sass/colors/cyan/style.scss */
.form-submit:hover, .form-submit:focus {
  background-color: #018ba4;
}

/* headline */
/* line 29, ../../../sass/colors/cyan/style.scss */
.headline .welcome-block a:hover, .headline .welcome-block a:focus {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
.headline .block-menu .menu li a:hover, .headline .block-menu .menu li a:focus {
  color: #21a9c2;
}

/* user popup */
/* line 6, ../../../sass/colors/cyan/style.scss */
.user-login-popup-block h2:hover, .user-login-popup-block h2:focus {
  color: #21a9c2;
}

/* search-block */
/* line 56, ../../../sass/colors/cyan/style.scss */
.search-block .form-submit {
  background-color: #21a9c2;
}
/* line 58, ../../../sass/colors/cyan/style.scss */
.search-block .form-submit:hover, .search-block .form-submit:focus {
  background-color: #018ba4;
}

/* line 6, ../../../sass/colors/cyan/style.scss */
.block-view-search-brand .item-list ul li a:hover, .block-view-search-brand .item-list ul li a:focus {
  color: #21a9c2;
}

/* account block  */
/* cart */
/* line 79, ../../../sass/colors/cyan/style.scss */
.block-commerce-cart .line-item-quantity-raw {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
.block-commerce-cart .line-item-quantity-label:hover, .block-commerce-cart .line-item-quantity-label:focus {
  color: #21a9c2;
}
/* line 88, ../../../sass/colors/cyan/style.scss */
.block-commerce-cart .view-footer ul.links li a {
  background-color: #018ba4;
}
/* line 90, ../../../sass/colors/cyan/style.scss */
.block-commerce-cart .view-footer ul.links li a:hover, .block-commerce-cart .view-footer ul.links li a:focus {
  background-color: #21a9c2;
}

/* description */
/* line 6, ../../../sass/colors/cyan/style.scss */
.block-menu-descriptions h2:hover, .block-menu-descriptions h2:focus {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
.block-menu-descriptions dt a:hover, .block-menu-descriptions dt a:focus {
  color: #21a9c2;
}

/* end header */
/* menu */
/* line 115, ../../../sass/colors/cyan/style.scss */
.block-megamenus h2 {
  color: black;
}

/* line 123, ../../../sass/colors/cyan/style.scss */
#main-menu .nav > .active a {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
#main-menu .nav > li > a:hover, #main-menu .nav > li > a:focus {
  color: #21a9c2;
}
/* line 133, ../../../sass/colors/cyan/style.scss */
#main-menu .nav .dropdown.open > a {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
#main-menu .nav .dropdown.open > a:hover, #main-menu .nav .dropdown.open > a:focus {
  color: #21a9c2;
}
/* line 141, ../../../sass/colors/cyan/style.scss */
#main-menu .nav .dropdown-menu .megamenus-subul.level-1 > li > a {
  color: #21a9c2;
}
/* line 143, ../../../sass/colors/cyan/style.scss */
#main-menu .nav .dropdown-menu .megamenus-subul.level-1 > li > a:hover, #main-menu .nav .dropdown-menu .megamenus-subul.level-1 > li > a:focus {
  color: #018ba4;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
#main-menu .nav .dropdown-menu .megamenus-subul > li > a:hover, #main-menu .nav .dropdown-menu .megamenus-subul > li > a:focus {
  color: #21a9c2;
}

/* end menu */
/* slideshow */
/* line 165, ../../../sass/colors/cyan/style.scss */
#highlighted .slideshow .carousel-indicators .active {
  background-color: #21a9c2;
  border-color: #21a9c2;
}

/* product grid */
/* line 6, ../../../sass/colors/cyan/style.scss */
.products-grid .views-field-title a:hover, .products-grid .views-field-title a:focus,
.products-grid .views-field-field-brand a:hover,
.products-grid .views-field-field-brand a:focus {
  color: #21a9c2;
}
/* line 182, ../../../sass/colors/cyan/style.scss */
.products-grid .views-field-field-discount-percentage,
.products-grid .views-field-commerce-price {
  color: #21a9c2;
}

/* line 188, ../../../sass/colors/cyan/style.scss */
div.fivestar-widget-static .star span.on,
div.fivestar-widget div.on a {
  background: url("images/sprites.png") no-repeat 0 -29px;
}

/* product list */
/* line 6, ../../../sass/colors/cyan/style.scss */
.products-list .views-field-title a:hover, .products-list .views-field-title a:focus,
.products-list .views-field-field-brand a:hover,
.products-list .views-field-field-brand a:focus {
  color: #21a9c2;
}
/* line 202, ../../../sass/colors/cyan/style.scss */
.products-list .views-field-field-discount-percentage,
.products-list .views-field-commerce-price {
  color: #21a9c2;
}

/* line 6, ../../../sass/colors/cyan/style.scss */
.today-deal-block .more-link a:hover, .today-deal-block .more-link a:focus {
  color: #21a9c2;
}

/* panel footer */
/* line 6, ../../../sass/colors/cyan/style.scss */
#panel-footer .menu li a:hover, #panel-footer .menu li a:focus {
  color: #21a9c2;
}

/* line 228, ../../../sass/colors/cyan/style.scss */
.block-simplenews .form-submit:hover, .block-simplenews .form-submit:focus {
  background: url("images/sprites.png") no-repeat 20px 14px;
}

/* line 236, ../../../sass/colors/cyan/style.scss */
.logged-in .block-simplenews .form-submit {
  background-color: #21a9c2;
}
/* line 238, ../../../sass/colors/cyan/style.scss */
.logged-in .block-simplenews .form-submit:hover, .logged-in .block-simplenews .form-submit:focus {
  background-color: #018ba4;
  background-image: none;
  color: white;
}

/* footer */
/* line 6, ../../../sass/colors/cyan/style.scss */
#footer .copyright a:hover, #footer .copyright a:focus {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
#footer .contact-message a:hover, #footer .contact-message a:focus {
  color: #21a9c2;
}

/* categories */
/* line 6, ../../../sass/colors/cyan/style.scss */
.item-list .facetapi-facetapi-checkbox-links li a:hover, .item-list .facetapi-facetapi-checkbox-links li a:focus {
  color: #21a9c2;
}

/* search price */
/* line 276, ../../../sass/colors/cyan/style.scss */
#section-top .block-megamenus:hover h2, #section-top .block-megamenus:focus h2 {
  color: #21a9c2;
}

/* line 284, ../../../sass/colors/cyan/style.scss */
.search-price-block .ui-state-default {
  background-color: #21a9c2;
  border-color: #21a9c2;
}
/* line 287, ../../../sass/colors/cyan/style.scss */
.search-price-block .ui-state-default:hover, .search-price-block .ui-state-default:focus {
  color: #018ba4;
  border-color: #018ba4;
}
/* line 292, ../../../sass/colors/cyan/style.scss */
.search-price-block .ui-state-hover {
  background: #21a9c2;
  border-color: #21a9c2;
}

/* end categories */
/* breadcrumb */
/* line 6, ../../../sass/colors/cyan/style.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #21a9c2;
}

/* product details */
/* line 317, ../../../sass/colors/cyan/style.scss */
#main .node .commerce-product-field-commerce-price,
#main .node .commerce-product-field-field-discount-percentage {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
#main .node .field-name-field-product .btn:hover, #main .node .field-name-field-product .btn:focus {
  color: #21a9c2;
}
/* line 324, ../../../sass/colors/cyan/style.scss */
#main .node .field-name-field-product .form-submit {
  background-color: #21a9c2;
}
/* line 326, ../../../sass/colors/cyan/style.scss */
#main .node .field-name-field-product .form-submit:hover, #main .node .field-name-field-product .form-submit:focus {
  background-color: #018ba4;
}
/* line 333, ../../../sass/colors/cyan/style.scss */
#main .node ul.links li a {
  color: #21a9c2;
}
/* line 335, ../../../sass/colors/cyan/style.scss */
#main .node ul.links li a:hover, #main .node ul.links li a:focus {
  color: black;
}
/* line 342, ../../../sass/colors/cyan/style.scss */
#main .node .product-info-tabs a {
  color: black;
}
/* line 344, ../../../sass/colors/cyan/style.scss */
#main .node .product-info-tabs a:hover, #main .node .product-info-tabs a:focus {
  color: #21a9c2;
}
/* line 352, ../../../sass/colors/cyan/style.scss */
#main .node .group-product-specifications .action-links li a {
  color: #21a9c2;
}
/* line 354, ../../../sass/colors/cyan/style.scss */
#main .node .group-product-specifications .action-links li a:hover, #main .node .group-product-specifications .action-links li a:focus {
  color: #018ba4;
}

/* line 6, ../../../sass/colors/cyan/style.scss */
.commerce-add-to-cart .btn:hover, .commerce-add-to-cart .btn:focus {
  color: #21a9c2;
}
/* line 368, ../../../sass/colors/cyan/style.scss */
.commerce-add-to-cart .form-submit {
  background-color: #21a9c2;
}
/* line 370, ../../../sass/colors/cyan/style.scss */
.commerce-add-to-cart .form-submit:hover, .commerce-add-to-cart .form-submit:focus {
  background-color: #018ba4;
}

/* jcarousel */
/* line 381, ../../../sass/colors/cyan/style.scss */
.jcarousel-skin-default .jcarousel-container .jcarousel-prev:hover, .jcarousel-skin-default .jcarousel-container .jcarousel-prev:focus,
.jcarousel-skin-default .jcarousel-container .jcarousel-next:hover,
.jcarousel-skin-default .jcarousel-container .jcarousel-next:focus {
  background-color: #21a9c2;
  border-color: #21a9c2;
}

/* shopping cart */
/* line 391, ../../../sass/colors/cyan/style.scss */
.shopping-cart .delete-line-item.form-submit {
  color: #21a9c2;
}
/* line 6, ../../../sass/colors/cyan/style.scss */
.shopping-cart table tbody .btn:hover, .shopping-cart table tbody .btn:focus {
  color: #21a9c2;
}
/* line 402, ../../../sass/colors/cyan/style.scss */
.shopping-cart .continue-shopping:hover, .shopping-cart .continue-shopping:focus {
  background-color: #21a9c2;
}
/* line 407, ../../../sass/colors/cyan/style.scss */
.shopping-cart .view-footer .component-total {
  color: #21a9c2;
}

/* line 415, ../../../sass/colors/cyan/style.scss */
.commerce-line-item-views-form .line-item-summary .line-item-total-raw {
  color: #21a9c2;
}

/* check out */
/* line 423, ../../../sass/colors/cyan/style.scss */
.checkout-buttons .form-submit {
  background-color: #21a9c2;
}
/* line 425, ../../../sass/colors/cyan/style.scss */
.checkout-buttons .form-submit:hover, .checkout-buttons .form-submit:focus {
  background-color: #018ba4;
}

/* tabs */
/* line 434, ../../../sass/colors/cyan/style.scss */
.tabs.primary li.active a {
  background-color: #21a9c2;
}

/* line 442, ../../../sass/colors/cyan/style.scss */
.action-links li a {
  background-color: #21a9c2;
}
/* line 444, ../../../sass/colors/cyan/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background-color: #018ba4;
}

/* line 454, ../../../sass/colors/cyan/style.scss */
.advertise-list .carousel-indicators .active {
  background-color: #21a9c2;
  border-color: #21a9c2;
}

/* search form */
/* line 466, ../../../sass/colors/cyan/style.scss */
#search-form #edit-advanced legend a:hover, #search-form #edit-advanced legend a:focus {
  color: #21a9c2;
}

/* shopping cart */
/* line 477, ../../../sass/colors/cyan/style.scss */
.shopping-cart .views-field-line-item-title a:hover, .shopping-cart .views-field-line-item-title a:focus {
  color: #21a9c2;
}
/* line 483, ../../../sass/colors/cyan/style.scss */
.shopping-cart .delete-line-item.form-submit:hover, .shopping-cart .delete-line-item.form-submit:focus {
  color: #018ba4;
}

/* block-help-topics */
/* line 494, ../../../sass/colors/cyan/style.scss */
.block-help-topics ul.menu li a:hover, .block-help-topics ul.menu li a:focus {
  color: #21a9c2;
}

/* .block-affiliate */
/* line 504, ../../../sass/colors/cyan/style.scss */
.block-affiliate h3 {
  color: #21a9c2 !important;
}

/* sell marketplace page */
/* line 514, ../../../sass/colors/cyan/style.scss */
.block-sell-on .block-sell-on-works .media .media-body .media-heading {
  color: #21a9c2;
}

/* pager */
/* line 525, ../../../sass/colors/cyan/style.scss */
.item-list ul.pager .pager-current {
  background-color: #21a9c2;
  border-color: #21a9c2;
}
/* line 531, ../../../sass/colors/cyan/style.scss */
.item-list ul.pager li a:hover, .item-list ul.pager li a:focus {
  background-color: #21a9c2;
  border-color: #21a9c2;
}

/* end pager */
